@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  @font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: 'Gilroy';
  }
}
